* {
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    width: 100%;

    .fa-hat-cowboy{
        margin: 20px;
        
    }

    ul{
        float: right;
        margin: 20px;
        
        li{
            margin-right: 80px;

            list-style: none;
            display: inline; 
        
        
        
        a{
            font-size: 20px;
            text-decoration: none;
            color: #333;
        }
        }
    }

    .name {
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        margin-top: 20px;
    }
    
}

.container {
    margin-top: 175px;
    ul{
        text-align: center;

        li{
            list-style: none;
            display: inline;
            margin-right: 70px;
            a {
                text-decoration: none;
                color: #333;
            }
        }
    }
    .slide1 {
        img{
            margin-top: 10px;
        }
        .box {
            position: absolute;
            width: 20%;
            background-color: antiquewhite;
            padding: 20px;
            margin-top: -170px;
            margin-left: 20px;
        }
        
    }

    

}

.products{
    margin-top: 60px;
    
    h2{
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        
        
    }
    .img{
        text-align: center;
        margin-top: 20px;
    }
}
footer {
    margin-top: 20px;
    h2{
        text-align: center;
        padding-bottom: 30px;
        border-bottom: #000 2px solid;

    }
}

// font-family: 'Great Vibes', cursive;
// font-family: 'Josefin Sans', sans-serif;